# Time-Series-Daten bereinigen

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../original_data/time_series_covid19_confirmed_global.csv")

In [3]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,555,607,665,714,784,840,906,933,996,1026
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,433,446,467,475,494,518,539,548,562,584
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1825,1914,1983,2070,2160,2268,2418,2534,2629,2718
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,601,638,646,659,673,673,696,704,713,717
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,19,19,24,24,24

In [4]:
df.drop(columns=['Lat', 'Long', 'Province/State'], inplace = True)

In [5]:
df.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,555,607,665,714,784,840,906,933,996,1026
1,Albania,0,0,0,0,0,0,0,0,0,...,433,446,467,475,494,518,539,548,562,584
2,Algeria,0,0,0,0,0,0,0,0,0,...,1825,1914,1983,2070,2160,2268,2418,2534,2629,2718
3,Andorra,0,0,0,0,0,0,0,0,0,...,601,638,646,659,673,673,696,704,713,717
4,Angola,0,0,0,0,0,0,0,0,0,...,19,19,19,19,19,19,19,24,24,24

In [6]:
df_grouped = df.groupby(['Country/Region'], as_index=False).sum()

In [7]:
df_grouped = df_grouped.set_index('Country/Region').transpose()

In [8]:
df_grouped.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,2,0,0,0,0,0

In [9]:
df_grouped.reset_index(level=0, inplace=True)
df_grouped.rename(columns={'index': 'Date'}, inplace=True)

In [10]:
df_grouped['Date'] = pd.to_datetime(df_grouped['Date'])

In [11]:
df_grouped.head()

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,4,...,0,0,0,0,2,0,0,0,0,0

In [12]:
df_germany = df_grouped[['Date', 'Germany']].copy()
df_germany.tail()

Country/Region       Date  Germany
85             2020-04-16   137698
86             2020-04-17   141397
87             2020-04-18   143342
88             2020-04-19   145184
89             2020-04-20   147065

In [13]:
df_grouped.to_csv('../data/worldwide_timeseries.csv', index=False)

In [ ]:
def clean_and_save_timeseries(df):
    drop_columns = ['Lat', 
                    'Long', 
                    'Province/State']

    df.drop(columns=drop_columns, inplace = True)
    
    df_grouped = df.groupby(['Country/Region'], as_index=False).sum()
    df_grouped = df_grouped.set_index('Country/Region').transpose()
    df_grouped.reset_index(level=0, inplace=True)
    df_grouped.rename(columns={'index': 'Date'}, inplace=True)
    df_grouped['Date'] = pd.to_datetime(df_grouped['Date'])

    df_grouped.to_csv('../data/worldwide_timeseries.csv', index=False